*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    color: white;
    background: black;
}
.top{
    width: 100%;
    height: 60px;
    background-color: black;
    position: fixed;
    border-bottom: 2px solid rgba(130,140,150,.1);
}
.logo{
    font-size: 20px;
    font-weight: 900;
    margin: 10px 0 0 30px;
    display: inline-block;
}
.search-form{
    position: absolute;
    top: 15px;
    left: 25%;
}
.search-form input{
    width: 800px;
    height: 30px;
    padding: 10px 0 5px 15px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 540;
    background: white;
    color: black;
}
.fa-search{
    position: relative;
    left: -33px;
    top: -2px;
    color: black !important;
    background: white;
}
.login{
    margin: 20px 20px 0 ;
    float: right;
}
.login ul li {
    display: inline;
}
.signin{
    padding: 10px;
}
.signup{
    background: orangered;
    padding: 8px 20px 8px 20px;
    border: none;
    border-radius: 15px;
}
.signup i {
    margin-right: 14px;
    background: orangered;
}
.main{
    border-top: 2px solid rgba(130,140,150,.1);
}
.left{
    float: left;
    padding: 20px 0 0 20px;
    width: 15%;
    height: 100%;
    border-right: 2px solid rgba(130,140,150,.1);
    border-top: 2px solid rgba(130,140,150,.1);
    overflow-y: auto;
    width: var(--side-width);
    flex-shrink: 0;
    position: fixed;
    z-index: 990;
    top: 58px;
    bottom: 0;
    overflow-y: auto;
}
ul, a{
    text-decoration: none;
    list-style: none;
}
.left ul p {
    opacity: 0.5;
    font-size: 12px;
    padding-bottom: 10px;
}
.left ul li{
    opacity: 0.7;
}
.left ul li{
    padding: 0 0 20px 30px;
}

.left ul li i{
    color: orangered;
    height: 16px;
    padding-right: 15px;
}
.right{
    float: right;
    padding: 50px 170px 50px 0;
}
.menu-right{
    margin: 30px 250px 0 0;
}
.menu-right ul li{
    display: inline;
    color: #fff;
    margin-left: 20px;
}
.right h2{
    color: #fff;
   padding: 20px 0 20px 130px;
}
.list-music{
    position: relative;
    background: #fff;
    width: 50%;
    height: 200px;
    border-radius: 20px;
    background: rgb(15, 14, 14);
    margin: 20px 0 0 200px;
    display: flex;
}
.i1 {
    display: block;
    font-size: 20px;
    color: gray;
    background: rgb(15, 14, 14);
    position: absolute;
    top: 105px;
    right: 130px;
}
.i2{
    display: block;
    font-size: 20px;
    color: rgb(189, 172, 172);
    background: rgb(15, 14, 14);
    position: absolute;
    top: 105px;
    right: 200px;
}
h3, h4,h5{
    background: rgb(15, 14, 14);
}
h4, h5{
    color: gray;
}
.h4-1{
    position:absolute; 
    font-weight: 200; 
    top: 105px; 
    right: 165px;
}
.h4-2{
    position:absolute; 
    font-weight: 200; 
    top: 105px; 
    left: 40px;
}
.list-music header{
    display: inline-block; 
    position: absolute; 
    top: 50px; 
    left: 160px; 
}
.bxh{
    display: inline; 
    position: absolute; 
    top: 80px; 
    left: 20px; 
    color: gray;
}
img{
    position: absolute;
    top: 20px;
    left: 50px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
.footer{
    margin-top: 60px;
    border-top: 1px solid rgba(130,140,150,.1);
    padding: 30px 0 0 120px ;
}
.footer p{
    font-size: 12px;
    opacity: 0.5;
}
.footer ul{
    margin-top: 20px ;
}
.footer ul li{
    
    display: inline;
    font-size: 12px;
}